/*====================================================
                COUNTDOWN V2
====================================================*/

#countdown {
  padding: 70px 20px;
  background: #ffffff;
}

#countdown .container {
  max-width: 1100px;

  margin: auto;

  text-align: center;
}

/*========================*/

#countdown .section-subtitle {
  text-transform: uppercase;

  letter-spacing: 6px;

  color: #7ec6f3;

  font-size: 14px;
}

#countdown .section-title {
  margin-top: 12px;

  font-family: "Cormorant Garamond", serif;

  font-size: 64px;

  color: #44637c;
}

#countdown .section-desc {
  margin: 25px auto 70px;

  max-width: 700px;

  line-height: 1.8;

  color: #5e788d;

  font-size: 18px;
}

/*========================*/

.countdown-wrapper {
  display: flex;

  justify-content: center;

  gap: 25px;

  flex-wrap: wrap;
}

/*========================*/

.time-box {
  width: 170px;

  padding: 35px 20px;

  border-radius: 28px;

  background: rgba(255, 255, 255, 0.45);

  backdrop-filter: blur(28px);
  -webkit-backdrop-filter: blur(28px);

  border: 1px solid rgba(255, 255, 255, 0.75);

  box-shadow: 0 20px 50px rgba(0, 0, 0, 0.08);

  transition: 0.35s;
}

.time-box:hover {
  transform: translateY(-10px);

  box-shadow: 0 30px 70px rgba(0, 0, 0, 0.12);
}

/*========================*/

.time-box h3 {
  font-size: 60px;

  color: #44637c;

  font-weight: 700;
}

.time-box span {
  display: block;

  margin-top: 10px;

  color: #5e788d;

  letter-spacing: 2px;

  text-transform: uppercase;
}

/*========================*/

@media (max-width: 768px) {
  #countdown {
    padding: 90px 20px;
  }

  #countdown .section-title {
    font-size: 46px;
  }

  #countdown .section-desc {
    font-size: 16px;
  }

  .countdown-wrapper {
    display: flex;

    flex-wrap: nowrap;

    justify-content: center;

    gap: 10px;
  }

  .time-box {
    width: 85px;

    padding: 20px 10px;

    border-radius: 20px;
  }

  .time-box h3 {
    font-size: 36px;
  }

  .time-box span {
    font-size: 12px;

    letter-spacing: 1px;
  }
}
